:root {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  color: #333;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  border-radius: 10px;
  margin: 5px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.site-logo {
  height: 33px;
  width: 33px;
  margin-right: 10px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.menu.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.date {
  margin-bottom: 20px;
}

.movie-cards {
  gap: 20px;
  justify-content: center;
}

.movie-card {
  min-height: 540px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.ticket-card {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screening-and-seats {
  height: 680px;
  width: 700px;
  background-color: #555;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 15px;
  color: white;
}

.seats {
  text-align: center;
}

.seats>.row {
  display: inline-block;
}

.seats>.row>div {
  background-color: white;
  color: black;
  float: right;
  text-align: center;
  padding-top: 3px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  width: 38px;
  height: 30px;
  margin: 3px 1px;
  cursor: pointer;
}

.seats>.row>.selected {
  background-color: #72b457;
  color: white;
}

.seats>.row>.occupied {
  background-color: rgb(152, 28, 28);
  color: white;
  cursor: not-allowed;
}

.poster-screen {
  width: 350px;
  object-fit: cover;
  aspect-ratio: 20 / 9;
  border: 5px solid #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.receipt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.receipt h1 {
  margin-bottom: 40px;
}

.receipt-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.movie-details {
  margin: 15px;
  text-align: left;
}

.ticket-info {
  margin: 15px;
  text-align: right;
}

.ticket-info h2 {
  margin-top: 0;
}

.ticket-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ticket-info li {
  margin-bottom: 10px;
}

.ticket-info h3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.ticket-info p {
  margin-bottom: 10px;
}

.ticket-info p:last-child {
  margin-bottom: 0;
}

.ticket-info p:first-child {
  margin-top: 0;
}

.ticket-info p:nth-child(2) {
  margin-top: 0;
}

.ticket-info p:nth-child(3) {
  margin-top: 0;
}